	.a {
    font-size:0;
    line-height:0;
    height:0;
    display:block;
    clear:both;
	}
	
	.heading{width:930px; margin:0 auto}
	
	h2{font-size: 20px; color:#2a2a2a; font-weight: normal; text-transform: uppercase; font-family: georgia, sans-serif; padding-bottom:8px; border-bottom:solid 2px #dedede; margin-right:5px}
	h2 span{color:#ff0081}
	
	body{
    background:url(src/images/background.jgp);
    font-family:Arial;
    color:#4e4e4e;
    font-size:11px;
    line-height:14px;
    padding-bottom:70px;
	}

	#main{width:1000px; float: middle; display: inline;}
	#main .box{width:1000px; background:url(images/background.jpg) repeat-y;  margin-bottom:8px}
	#main .box .player-right{float: right; display: inline; width:200px; padding-left:10px; padding-top:10px}
	#main .box .player-right h2{margin-bottom:10px;  }
	#main .box .player-right .holder{width:200px; margin-bottom:20px; }
	#main .box .holder{width:294px; position:relative; z-index: 1; float:left; display: inline;}
	#main .box .holder .stripe{position:absolute; top:284px; left:44px; z-index: 10; height:84px; background:none; width:245px}
	#main .box .holder .stripe strong{font-family: "Arial"; font-size: 23px; color:#00a2ff; text-transform: uppercase; line-height: 25px; padding:10px 0 0 13px; display: block;}
